#banner{
    width: 100%;
}

.principal{
    background-color: #ccc;
    padding: 30px;
}

.titulo-principal{
    padding-left:20px ;
}

.titulo-centralizado{
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

#missao{
    font-size: 24px;
}

em strong {
    color: #f00;;
}

.beneficios{
    background: #fff;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.beneficios_img{
    width: 50%;
}

header {
    width: 940px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 16px;
    right: 50px;
}

.menu li{
    display: inline-block;
    margin: 10px;
}

.menu li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.menu li a:hover{
    text-decoration: underline;
    color: #c8746c;
}
