body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eaf0d6;
    margin: 0;
}

.cor-branca{
    background-color: white;
    padding-bottom: 50px;
}

.nav-inicial{
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.menu-cabecalho{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 30px;
    right: 10px;
}

.menu-cabecalho li{
    display:inline-block;
    padding-left: 20px;
}

.menu-cabecalho li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e24d00;
    font-size: 14px;
}

.menu-cabecalho li a:hover{
    text-decoration: underline;
    color: black;
}

.menu-cabecalho .pesquisa{
    text-align: center;
}

.botao-pesquisar{
    width: 32px;
    height: 30px;
    background-color: #e24d00;
    color: white;
    border-radius: 50px;
    position: relative;
    bottom: 2px;
    padding-top: 5px;
}

header .restrita{
    background-color: #e24d00;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.divisao{
    width: 100%;
    border: 1px solid #00863a;
    background-color:#00863a;
    text-align: left;
}

.divisao li{
    text-transform: uppercase;
    list-style:none;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    left: 25%;
}

.divisao li a{ 
    color: #fff;
    text-decoration: none;
}

.conteudo-principal{
    width: 940px;
    margin: 20px auto;
}

.banners{
    border: 1px solid white;
    display: inline-block;
    width: 68%;
    height: 438px;
    margin-right: 5px;
    background-color: white;
}

.noticias{
    border: 1px solid white;
    background-color: white;
    display: inline-block;
    width: 28%;
    height: 438px;
    margin-left: 5px;
    position: relative;
    bottom: 75px;
}

.noticias-header a{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #00863a;
    text-align: center;
    text-transform: uppercase;
    color: #00863a;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.noticias-header a:hover{
    text-decoration: underline;
}

.noticias span{
    background-color: #e24d00;
    border-radius: 3px;
    padding: 1px 5px;
    color: white;
    font-weight: bold;
    font-size: 10.5px;
}

.noticias li {
    list-style: none;
    border-bottom: 1px solid #00863a;
    padding-bottom: 30px;
    padding-top: 10px;
    position: relative;
    right: 15px;
}

.noticias li a{
    text-decoration: none;
    color: #00863a;
    display: block;
}

.noticias li a:hover{
    text-decoration: underline;
}

.indicadores{
    position: absolute;
    top: 650px;
    width: 920px;
    margin: 0 auto;
    background-color: #00863a;
    font-size: 12px;
    padding: 0;
    margin-top: 40px;
}

.indicadores-lista li{
    display: inline-block;
}

.indicadores-lista-primeiro{
    background-color: #00863a;
    text-transform: uppercase;
    list-style: none;
    color: white;
    font-size: 16px;
    position: relative;
    right: 30px;
}

.indicadores-lista-demais{
    display: inline-block;
    background-color: #449d44;
    color: white;
    border-radius: 2px;
    padding: 3px;
    margin-right: 2px;
    font-weight: bold;
    position: relative;
    left: 10px;
}

.indicadores-lista-link{
    background-color: #e24d00;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    left: 40px;
}

.indicadores-lista-link a{
    color: white;
    text-decoration: none;
}

.pequenos-banners--lista li{
    display: inline-block;
}

.pequenos-banners--lista li img{
    width: 130px;
    height: 200px;
    padding: 5px;
    position: relative;
    right: 15px;
}

.tres-artigos--item{
    border: 1px solid white;
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 410px;
    margin: 4px;
}

.tres-artigos--item header{
    border-bottom: 1px solid #00863a;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.tres-artigos--item header a{
    text-transform: uppercase;
    text-decoration: none;
    color: #00863a;
    font-size: 17px;
    margin: 15px;
}

.tres-artigos--item header a:hover{
    text-decoration: underline;
}

.tres-artigos--item main span{
    background-color: #e24d00; 
    color: white;   
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    margin: 15px;
    border-radius: 2px;
}

.tres-artigos--item main a{
    display:block;
    margin: 5px 15px;
    text-decoration: none;
    color: #00863a;
    border-bottom: 1px solid #c4f1d7;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.tres-artigos--item main a:hover{
    text-decoration: underline;
}

.vermais{
    width: 1200px;
}

.vermais-lista li{
    margin-left: 15px;
    display: inline-block;
    width: 262px;
    height: 320px;
    background-color: white;
    position: relative;
    right: 145px;
}

.vermais-lista li h3{
    color: #e24d00;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.vermais-lista li p{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.vermais-lista li button{
    margin-left: 98px;
    color: white;
    background-color: #e24d00;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
}

footer{
    width: 940px;
    margin: 70px auto;
    text-align: center;
}

footer h4{
    color: #00863a;
}

footer input{
    padding: 10px;
    line-height: 1.4;
    border: none;
    border-radius: 2px;
}

footer button{
    background-color: #00863a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
}
